@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&family=Inter:wght@400;500;600;700&display=swap');

@theme {
  --color-primary: #003d9b;
  --color-primary-container: #0052cc;
  --color-on-primary: #ffffff;
  --color-secondary: #006c49;
  --color-secondary-fixed: #6ffbbe;
  --color-secondary-container: #6cf8bb;
  --color-tertiary: #732f00;
  --color-tertiary-fixed: #ffdbca;
  --color-on-tertiary-fixed: #341100;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f3ff;
  --color-surface-container-high: #e2e7ff;
  --color-surface-container: #eaedff;
  --color-on-surface-variant: #434654;
  --color-outline-variant: #c3c6d6;
  --color-background: #faf8ff;
  --color-on-background: #131b2e;

  --font-headline: 'Manrope', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-label: 'Inter', sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-on-background);
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headline);
}
